.InputDestination {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #353535;
    border-radius:5px;

    background-image: url("https://st2.depositphotos.com/6323354/11163/v/950/depositphotos_111633542-stock-illustration-map-pointer-icon-gps-location.jpg");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: right; 

    
}